body {
    display: flex;
    flex-direction: column;
    align-items: center;
}

img {
    height: 35rem;
    width: 35rem;
}

#content {
    display: flex;
    flex-direction: column;
    align-items: center;
}

nav {
    background-color: blueviolet;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 4rem;
    height: 4rem;
    color: white;
}

button {
    height: 4rem;
    width: 6rem;
    background-color: blueviolet;
    border: none;
    color: white;
    font-size: larger;
}

button:hover {
    background-color: darkmagenta;
}

.restaurant-name {
    text-align: center;
    border: 10px solid red;
    width: 16rem;
    border-radius: 20px;
}